
.circle{
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 20px;
    background-color:#B5EAEA;
    text-align: center;
    color: white;
}

#text{
    position: absolute;
    top:50%;
    transform: translate(50%, 50%)
}

#feeling {
    background-color: #C9CCD5;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 2px;
}
#options{
    background-color: #EDF6E5;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 2px;
}
#value{
    background-color: #C9CCD5;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 2px;
}
.Content-question-answer{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

.question{
    /* flex: 1; */
    font-size: 18px;
    background-color: #9dd1c3;
    padding: 10px;
}

.answer-list{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.answer-list h5{
    margin-block-start: 0;
    margin-block-end: 0.3em; 
    color: #9dd1c3;
}
.oneColum{
    width: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 20px;  
    padding-right: 20px;
    margin-top: 10px;
}
.twoColumn{
    width: 50%;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 20px;  
    padding-right: 20px;
    margin-top: 10px;
}
.split{
    display: flex;
    padding-bottom: 5px;
}
.answer{
    flex-direction: row;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;

}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
#operators-Square{
    display: flex;
    flex-wrap: wrap;
}
.operators{
    width: 25%;
}


.code-Example{
       background-color: #f4f0ec;
       padding: 15px;
       width: 100%;
       padding-bottom: 8px;
       padding-top: 8px;
   }

.checklist .checkbox{
    margin: 5px 5px;
    background-color: #9dd1c3;
    color: white;
   }

.processToLearn {
    width: 20px;
    height: 20px;
}

#yet{
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
    margin-block-end: 0;
}
.yet{
    background-color: #006A71;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}