 .bubblebg {
        display: flex;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        z-index: 100;
      }
      
      figure{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        overflow: hidden;

      }

      .visual-animate {
        background-color: #121b5a;
        background: linear-gradient(
          -45deg,
          #121b5a,
          #2f469c,
          #451b67,
          #124f6b,
          #009d9c,
          #124f6b,
          #2f469c,
          #451b67,
          #121b5a
        );
        background-size: 400% 400%;
        animation: gradient 25s ease-in-out infinite;
        overflow: hidden;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        25% {
          background-position: 75% 25%;
        }
        50% {
          background-position: 100% 50%;
        }
        75% {
          background-position: 25% 75%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      .list-of-dots {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition-duration: 10s;
        background-color: transparent;
        overflow: hidden;
      }
      
      .circle {
        width: 15rem;
        height: 15rem;
        animation: gradient-effect ease-in-out 10s infinite;
        border-radius: 50%;
        overflow: hidden;
      }
      
      @keyframes gradient-effect {
        from {
          background-color: transparent;
        }
        to {
          background-color: #121b5a;
          transform: scale(3);
          opacity: 0;
          overflow: hidden;
        }
      }