@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Cutive&family=Cutive+Mono&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300&family=Roboto+Slab:wght@300;400&display=swap');*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}
* {
    box-sizing: border-box;
  }

body{
    position: relative;
    font-size: 15px;
    color: #006A71;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }

h1{
    font-family: 'Roboto Slab', serif;
    margin-block-start: 0.35em;
    margin-block-end: 0.1em;
    font-size: 40px;
    font-weight: 400;
}

h2{
    
    margin-block-start: 0px;
    margin-block-end: 0.2em;
}


h3{
    font-family: 'Roboto Slab', serif;
    margin-block-start: 0px;
    margin-block-end: 0.2em;
}

.header{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}


.logo{
    margin: 20px;
    width: 75px;
    height: auto;
}

.logo path{
    fill: #006A71;
}

.top-nav{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.top-nav button{
    /* margin-block-start: 55px; */
    padding: 8px 15px;
    border-radius: 1.5rem;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    /* margin-right: 20px; */
}
button{
    width: auto;
    padding: 10px;
    background-color: #006A71;
    border-width: 0;
    border-color: 0;
    border-style: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

button:hover{
    background-color: thistle;
}

button a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

button:hover a{
    color:#006A71;
}

.Content{
    padding: 20px;
    justify-content: center;
}
.Content.blog h1{
    color: thistle;
}

.TopBottomLine{
    margin-top: 0;
    text-decoration: underline overline;
    text-underline-position: under;
    flex-direction: row;
    margin-block-end: 0.2em;;

}

footer{
    font-size: 12px;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

h5{
    color: thistle;
}

.back-btn{
    color: thistle;
}

.column-Content{
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
display: block;
}
.column-Content h3{
    margin-top: 50px;
    }

.column-Content li{
    list-style-type: none;
    display: inline-block;
    background-color:thistle;
    color: white;
    padding: 5px;
}
.center-btn{
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    /* border-radius: 25px; */
    padding-left: 25px;
    padding-right: 25px;

}

.icon{
    width: 70px;
    height: 70px;
    text-align: center;
}

.huge{
    font-size: 10rem;
    color:red;
}

.codeExample{
    background-color: lightgrey;
}

.invisible {
    display: none;
  }
  
.visible {
    display: block;
    border-radius: 0;
}
 
.byoCorner{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 15px;
    /* background-color: #7EB5A6; */
    padding: 3px 10px;
}

.byoCorner h2{
    margin-right: 5px;
}

.identity-value h2{
    margin-right: 5px;
    color: rgb(190, 118, 190);
}

.icon{
    margin-right: 10px;
    text-align: center;
}
.notes{
    height: auto;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}
.notes ul{
padding-inline-start: 0;
}
.notes .h3:hover{
    color: transparent;
 }
 
 .notes li {
     line-height: 18px;
     justify-content: space-between;
     background-color: thistle;
     margin-bottom: 3px;
     list-style-type: none;
     padding: 10px;
     width: 100%;
 }
 
 .notes li a{
     color: #006A71;
 }
 .notes li :hover{
     color:white;
 }
 .notes li:hover a{
     color:thistle;
 }
 
 .notes li a:hover{
     background-color:  #006A71; 
 }

@media only screen and (max-width: 580px){
    .monospaced {
        display: none;
    }

    .monospaced:after{
        content: " ";
    }
    .hello {
        white-space: pre;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        font-size: 15px;
    }

    .Grid-cell{
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }

    .Main-content{
        padding: 10px;
        height: auto;
        border: 1px solid #006A71;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Side-content{
        border: none;
        padding: 10px;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }

    .weatherBoard{
    display: none;
    }

    .btn-inline{
        font-size: 12px;
    }

    .top-nav button{
        width: 32%;
        margin-bottom: 5px;
        padding: 5px 5px;
        border-radius: 15px;
    }

    .notes{
        height: auto;
        flex-direction: row;
        width: 100%;
        cursor: pointer;
    }
}

@media only screen and (min-width: 581px) and (max-width: 767px){

    .Grid-cell{
        display: block;
        text-align: left;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .monospaced {
        display: none;
    }

    .monospaced:after{
        content: " ";
    }
    .hello {
        white-space: pre;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        font-size: 15px;
    }

    .Main-content{
        padding: 20px;
        height: auto;
        border: 1px solid #006A71;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Side-content{
        border: none;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    
    .weatherBoard{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-right: 10px;
        width: fit-content;
        scale: 50%;
    }
    
    .notes ul{
        height: auto;
        cursor: pointer;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .monospaced {
      font-family: "Courier New", Courier, monospace;
      white-space: pre;
      text-align: center;
      font-size: 15px;
      } 

      .monospaced:after{
        content: " ";
    }
    
      .hello {
          display: none;
      }
  
      .Grid-cell{
          display: flex;
          text-align: left;
          flex-wrap: wrap;
      }

      .Main-content{
        padding: 20px;
        height: auto;
        border: 1px solid #006A71;
        margin-left: 10px;
        margin-right: 5px;
        flex: auto 1 1;
    }

    .Side-content{
        border: none;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-between;
        width: 100%;
        flex-grow: 1;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
    .weatherBoard{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-right: 10px;
        flex: 1 1 1000px;
    }
      .notes{
          height: auto;
          flex-direction: row;
          width: 100%;
          cursor: pointer;
          flex: 1 1 1000px;
      }


      .notes ul{
        height: auto;
        cursor: pointer;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        width: 100%;
    }
  }

  @media only screen and (min-width: 1024px) {
      .Grid-cell{
          display: flex;
          text-align: left;
          flex-wrap: wrap;
      }

    .monospaced {
      font-family: "Courier New", Courier, monospace;
      white-space: pre;
      text-align: center;
      font-size: 15px;
      } 

      .monospaced:after{
        content: " ";
    }
    
      .hello {
          display: none;
      }
  
      
      .Main-content{
          padding: 20px;
          height: auto;
          border: 1px solid #006A71;
          flex: 3;
          margin-right: 10px;
      }
  
      .Side-content{
          column-count: none;
          border: 1px solid #006A71;
          padding: 20px;
          margin-left: 10px;
          margin-right: 10px;
          justify-content: flex-end;
      }
  
      .weatherBoard{ 
          display: block;
          margin-top: 15px;
          margin-bottom: 25px;
          flex: 3 1 1000px;

      }
  
      .notes{
          height: auto;
          flex-direction: row;
          width: 100%;
          cursor: pointer;
          flex: 3 1 1000px;

      }

      .notes ul{
        height: auto;
        cursor: pointer;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  }


  @media only screen and (min-width: 1200px) {
    .Grid-cell{
        display: flex;
        text-align: left;
        flex-wrap: nowrap;
    }

  .monospaced {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    text-align: center;
    font-size: 15px;
    } 

    .monospaced:after{
      content: " ";
  }
  
    .hello {
        display: none;
    }

    
    .Main-content{
        padding: 20px;
        height: auto;
        border: 1px solid #006A71;
        flex: 3;
        margin-right: 10px;
    }

    .Side-content{
        column-count: none;
        border: 1px solid #006A71;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: flex-end;
        flex: 3 1 1000px;
    }

    .weatherBoard{ 
        display: block;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .notes{
        height: auto;
        flex-direction: row;
        width: 100%;
        cursor: pointer;
    }

    .notes ul{
      height: auto;
      cursor: pointer;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
}




